@import '../abstracts/variables';

.login-form {

    font-size: $default-font-size;
    margin: 0 auto;
    border:1px solid $color-grey-dark-2;
    padding:1rem;
    width:40rem;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba($color-black,.1);
    transform:all 3s;
    background-color: $color-white;
   
    &__group{
        padding: 1rem;
    }

    &__label{
        color:$color-tertiary-dark;
        width:10rem;
        display: inline-block;
    }

    &__email{
        border:1px solid $color-grey-dark-2;
        height:3rem;
        width:20rem;
        border-radius: 5px;
        padding:0 5px 0 5px;
    }

    &__password{
        border:1px solid $color-grey-dark-2;
        height:3rem;
        border-radius: 5px;
        width:20rem;
        padding:0 5px 0 5px;
    }
    
    &__heading{
        color:$color-tertiary-dark;
        font-size: 2rem;
        text-align: center;
          
    }

    &__submit{
        color:$color-white;
        background-color: $color-tertiary-dark;       
        padding: .5rem 1rem .5rem 1rem;
        border-radius: 5px;
        border: none;      
        display: block;   
        margin: 0 auto;
        transition: all .2s;

        &:hover{
            background-color: rgba($color-black,.1);
            color: $color-black;
            transform:translate scale(2);
            box-shadow: 1px 5px 5px rgba($color-black,.1);
          
        }

    }  
   
}

