
/* reset */
*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-inherit; 
    /* borrder not apart of width and height */
}

html{
    font-size: 62.5%;
    /* 10(what we want)/16(default) allows zoom in and  */
    /* 1rem = 1px = root font-size 1/10 */
    /*rem not below ie9*/
    margin:0px;
    height:100%;
}

body{
   box-sizing:"border-box";
   background-color: $color-grey-light-2; 
}

.loading{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cadetblue;
    color: aliceblue;
    font-size: x-large;
    border: rgba($color-black,.1);

}     

.snack{    
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1em;
    border: rgba($color-black,.1);
}     