
/* stand alone might be used in another page */


body{
    font-family: "Lato";
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color:$color-secondary-dark;
    padding:3rem;
  
}

