
.client-list{

    font-size: $default-font-size;
    margin: 0 auto;
    border:1px solid $color-grey-dark-2;
    padding:1rem;
    width:100%;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba($color-black,.1);
    color:$color-grey-dark-2;
    background-color: $color-white;
    
    &__th{
        text-align: left;
        font-weight: bold;
       
    }
}
